.bg-color-footer{
  background-color: #0e1d28;
  max-width: 100% !important;
}
.login-footer{
  width: 40%;
  margin:0 auto;
}
.login-footer li{
  display: inline-block;
  padding: 0px 0px 20px 0px;
}
.login-footer li a{
  display:block;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
  padding: 10px 10px 30px 10px;
}
