.user-bookin-main-page{
  max-width: 96%;
}

.m-t-30{
  margin-top: 30px;
}
.p-t-25{
  padding-top: 25px;
}
.user-booking-subtitle{
  font-family: Lato;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #102746;
  text-transform: uppercase;
  margin-top: 20px;
  padding-top: 15px;
}
.divider-booking{
  border: solid 2px #dddddd;
  margin-bottom: 17px;
}
.user-booking-address{
  font-family: Lato;
 font-size: 13px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: 2.31;
 letter-spacing: normal;
 color: #102746;
  width: 45%;
}
.clearfiex::after{
  content: "";
  display: table;
  clear: both;
}
.confirm-btn{
  width: 30%;
  margin-top: 5px;
}
.review-btn{
  width: 70%;
}
.confirm-btn a{
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  color: #64a86b;
  text-transform: uppercase;

}
.confirm-btn a:hover{
  text-decoration: underline;
}
.check-iocn{
    color: #64a86b;
    padding-right: 15px;
}
.m-t-40{
}
.review-btn button {
  width: 118px;
  height: 40px;
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: #64a86b;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #64a86b;
  margin: 0px 20px;
}
.review-btn button:hover{
  color: #ffffff;
  background-color: #64a86b;
}
.client-details{

}
.client-details h2{
  font-family: Lato;
 font-size: 24px;
 font-weight: bold;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.26;
 letter-spacing: normal;
 color: #102746;
 text-align: center;
}
.client-details p{
  font-family: Lato;
 font-size: 24px;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.26;
 letter-spacing: normal;
 color: #102746;
 text-align: center;
}
.hr-divider{
  border-bottom: 1px solid #ece6e6;
  margin-top: 40px;
  margin-bottom: 40px;
}
/* .hr-divider:last-child{
  margin-bottom: 0px;
  border-bottom: 0px;
} */
@media(max-width:1300px){
  .review-btn button{
    margin: 0px 14px;
  }
}
@media(max-width:1200px){
  .review-btn button {
      margin: 0px 7px;
  }
}
@media(max-width:1100px){
  .review-btn button {
    margin: 0px 8px;
    width: 106px;
 }
}
@media(max-width:1023px){
  .review-btn button {
    margin: 0px 6px;
    width: 75px;
    font-size: 8px;
    height: 30px;
 }
 .client-details h2{
    font-size: 19px;
 }
 .client-details p{
   font-size: 16px;
 }
 .user-booking-address{
   width: 93%;
 }
 .confirm-btn a{
   font-size: 8px;
 }
}
