.public-DraftStyleDefault-ltr{

}
.rdw-editor-wrapper{

}
.raw-data{
  width: 100%;
}
.custome-editior{
  padding-left: 10px !important;
  padding-top: 10px !important;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #444444;
}
