@font-face {
  font-family: 'Avenir';
  src: url('../../customeFont/font/Avenir-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Heavy';
  src: url('../../customeFont/font/Avenir-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Medium';
  src: url('../../customeFont/font/Avenir-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Roman';
  src:  url('../../customeFont/font/Avenir-Roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PingFangSC';
  src: url('../../customeFont/font/PingFang-SC-Thin.ttf') format('truetype');

  font-weight: 400;
  font-style: normal;
}

.card{
box-shadow: unset !important;
border: unset !important;
font-weight: unset !important;
border-radius: 0px !important;
background-color: unset !important;
}
.m-l-5{
  margin-left: 5px !important;
}
.loginForm{
  width: 362px !important;
  height: 335px !important;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2)!important;
  border: solid 1px #dddddd !important;
  background-color: #0e1d28 !important;
  border: 1px solid #fff !important;
  margin:-22px auto;
}
.login {
    margin: 15px 28px 9px 20px !important;
}
.login .input{
  width: 268.6px !important;
  height: 40px !important;
  border-radius: 2px !important;
  border: solid 1px #cccccc !important;
  background-color: #ffffff !important;
  font-family: Lato;
  font-size: 14px !important;
  line-height: 1.5 !important;
  letter-spacing: 0.5px !important;
  color: #444444;
  padding: 10px !important;
}
.forgot-password{
  margin-top: 19px !important;
  display: inline-block !important;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #ffffff !important;
  text-decoration: underline !important;
}
.forgot-password:hover{
  text-decoration: underline !important;
}
.loginBtn{
  width: 269px;
  height: 40px;
  border-radius: 2px;
  background-color: #ff7100;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.1;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  margin-top: 15px;
}
.loginBtn:hover{
    background-color:#ffffff;
    color: #ff7100;
}
.labelTitle{
  font-family: Lato;
  font-size: 12px !important;
  line-height: 1.33 !important;
  color: #ffffff !important;
  margin-bottom: 7px !important;
  margin-top: 16px !important;
}
