.bookin-step3-section{
  width: 100%;
  height: 241px;
  padding: 10% 10%;
 background-color: rgba(250, 250, 250, 0.9);
}
.step3-order-title{
  font-family: Lato;
 font-size: 18px;
 font-weight: bold;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.4;
 letter-spacing: normal;
 color: #102746;

}
.step3-subtitle{
  font-family: Lato;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.31;
    letter-spacing: normal;
    color: #102746;
}
.stpep3-total{
  font-family: Lato;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.05;
  letter-spacing: normal;
  color: #102746;
}
